.nav{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    
    background: white;

    



}
.orderList{
    list-style-type: none;
    font-size: small;
    display: inline-flex;
    gap: 10px;
    color: white;
}


a{
    color:black;
    text-decoration: none;
    transition: 0.5s;
    padding: 10px;
    
}
a:hover{
    background: black;
    color: white;

}

