@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
input{
    padding: 10px 14px;
    border-radius: 6px;
    width: 100%;
    font-family: 'Inter',sans-serif;
    
    
    
}
.buttonSignUp{
    padding: 10px 14px;
    border-radius: 6px;
    border: none;
    transition: 0.5s;
    font-family: 'Inter',sans-serif;
    background-color: black;
    color: white;
    cursor: pointer;
    width: auto;
    height: auto;
    
    
    
}
.buttonSignUp:hover{
    background-color:rgba(26, 26, 26, 0.8);
    box-shadow: 1px 1px 1px rgba(26, 26, 26, 0.8);
}